-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: himanshu_4604
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tblacademicyear`
--

DROP TABLE IF EXISTS `tblacademicyear`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblacademicyear` (
  `academicYearId` int(10) NOT NULL AUTO_INCREMENT,
  `academicYearName` text NOT NULL,
  `addedIpAddress` varchar(100) NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` varchar(100) NOT NULL,
  `updatedDatetime` datetime NOT NULL,
  PRIMARY KEY (`academicYearId`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblacademicyear`
--

LOCK TABLES `tblacademicyear` WRITE;
/*!40000 ALTER TABLE `tblacademicyear` DISABLE KEYS */;
INSERT INTO `tblacademicyear` VALUES (1,'1st Year','171.49.208.16','2025-02-13 07:31:16','171.49.208.16','2025-02-13 07:31:16'),(2,'2nd Year','171.49.208.16','2025-02-13 07:31:53','171.49.208.16','2025-02-13 07:31:53'),(3,'3rd Year','171.49.208.16','2025-02-13 07:31:59','171.49.208.16','2025-02-13 07:31:59'),(4,'4th Year','171.49.208.16','2025-02-13 07:32:05','171.49.208.16','2025-02-13 07:32:05'),(5,'5th Year','171.49.208.16','2025-02-13 07:32:11','171.49.208.16','2025-02-13 07:32:11'),(6,'6th Year','122.181.92.233','2025-03-08 01:32:37','122.181.92.233','2025-03-08 01:32:37');
/*!40000 ALTER TABLE `tblacademicyear` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbladmin`
--

DROP TABLE IF EXISTS `tbladmin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbladmin` (
  `adminId` int(100) NOT NULL AUTO_INCREMENT,
  `adminName` text NOT NULL,
  `adminPassword` varchar(100) NOT NULL,
  `adminGender` int(10) NOT NULL,
  `adminNumber` varchar(15) NOT NULL,
  `sessionId` int(10) NOT NULL,
  `adminOccupation` int(10) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime(6) NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime(6) NOT NULL,
  PRIMARY KEY (`adminId`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbladmin`
--

LOCK TABLES `tbladmin` WRITE;
/*!40000 ALTER TABLE `tbladmin` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbladmin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblattendence`
--

DROP TABLE IF EXISTS `tblattendence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblattendence` (
  `id` int(100) NOT NULL AUTO_INCREMENT,
  `dateOfAttendence` date NOT NULL,
  `courseId` int(10) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `subjectId` int(10) NOT NULL,
  `sessionId` int(10) NOT NULL,
  `studentId` int(10) NOT NULL,
  `attendence` int(1) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblattendence`
--

LOCK TABLES `tblattendence` WRITE;
/*!40000 ALTER TABLE `tblattendence` DISABLE KEYS */;
INSERT INTO `tblattendence` VALUES (1,'2025-09-30',3,1,1,9,6,1,'::1','2025-10-01 20:15:36','::1','2025-10-01 20:15:36'),(2,'2025-09-30',3,1,2,9,6,1,'::1','2025-10-01 20:23:08','::1','2025-10-01 20:23:08'),(3,'2025-09-30',3,1,1,9,6,1,'::1','2025-10-01 00:23:29','::1','2025-10-01 00:23:29'),(4,'2025-09-30',3,1,3,9,6,0,'::1','2025-10-01 00:40:33','::1','2025-10-01 00:40:33'),(5,'2025-10-01',3,1,8,9,1,1,'::1','2025-10-01 20:23:30','::1','2025-10-01 20:23:30'),(6,'2025-10-01',3,1,8,9,6,1,'::1','2025-10-01 20:23:59','::1','2025-10-01 20:23:59');
/*!40000 ALTER TABLE `tblattendence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblcourse`
--

DROP TABLE IF EXISTS `tblcourse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblcourse` (
  `courseId` int(10) NOT NULL AUTO_INCREMENT,
  `courseName` varchar(100) NOT NULL,
  `courseDuration` varchar(10) NOT NULL,
  `sessionId` int(10) NOT NULL,
  PRIMARY KEY (`courseId`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblcourse`
--

LOCK TABLES `tblcourse` WRITE;
/*!40000 ALTER TABLE `tblcourse` DISABLE KEYS */;
INSERT INTO `tblcourse` VALUES (1,'bba','3',8),(2,'bca','3',8),(3,'b tech','4',8),(4,'LLB','5',8),(5,'Mba','2',8),(9,'B com','3',8);
/*!40000 ALTER TABLE `tblcourse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblcoursefees`
--

DROP TABLE IF EXISTS `tblcoursefees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblcoursefees` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `courseId` int(10) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `totalFees` int(10) NOT NULL,
  `sessionId` int(10) NOT NULL,
  `dueDate` date NOT NULL,
  `addedIpAddress` varchar(100) NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` varchar(100) NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblcoursefees`
--

LOCK TABLES `tblcoursefees` WRITE;
/*!40000 ALTER TABLE `tblcoursefees` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblcoursefees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblfees`
--

DROP TABLE IF EXISTS `tblfees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblfees` (
  `feeId` int(100) NOT NULL AUTO_INCREMENT,
  `studentId` int(100) NOT NULL,
  `courseId` int(100) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `totalFees` int(100) NOT NULL,
  `discountMoney` int(100) DEFAULT NULL,
  `paidFees` int(100) NOT NULL,
  `dateOfSubmissionOfFees` date NOT NULL,
  `sessionId` int(10) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime(6) NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDatetime` datetime(6) NOT NULL,
  PRIMARY KEY (`feeId`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblfees`
--

LOCK TABLES `tblfees` WRITE;
/*!40000 ALTER TABLE `tblfees` DISABLE KEYS */;
INSERT INTO `tblfees` VALUES (1,6,3,1,120000,10000,20000,'2025-09-30',9,'::1','2025-09-30 11:00:17.000000','::1','2025-09-30 11:00:17.000000'),(2,1,3,1,120000,12000,45000,'2025-11-07',9,'::1','2025-11-07 08:23:53.000000','::1','2025-11-07 08:23:53.000000'),(3,6,3,2,200000,100000,50000,'2026-01-28',10,'::1','2026-01-28 09:17:31.000000','::1','2026-01-28 09:17:31.000000'),(4,1,3,2,200000,50000,100000,'2026-02-05',10,'::1','2026-02-05 09:57:22.000000','::1','2026-02-05 09:57:22.000000');
/*!40000 ALTER TABLE `tblfees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblmeetingparticipants`
--

DROP TABLE IF EXISTS `tblmeetingparticipants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblmeetingparticipants` (
  `participantId` int(11) NOT NULL AUTO_INCREMENT,
  `meetingId` int(11) NOT NULL,
  `studentId` int(11) NOT NULL,
  `joinTime` datetime DEFAULT current_timestamp(),
  `leaveTime` datetime DEFAULT NULL,
  PRIMARY KEY (`participantId`),
  KEY `meetingId` (`meetingId`),
  KEY `studentId` (`studentId`),
  CONSTRAINT `tblmeetingparticipants_ibfk_1` FOREIGN KEY (`meetingId`) REFERENCES `tblmeetings` (`meetingId`) ON DELETE CASCADE,
  CONSTRAINT `tblmeetingparticipants_ibfk_2` FOREIGN KEY (`studentId`) REFERENCES `tblstudent` (`studentId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblmeetingparticipants`
--

LOCK TABLES `tblmeetingparticipants` WRITE;
/*!40000 ALTER TABLE `tblmeetingparticipants` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblmeetingparticipants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblmeetings`
--

DROP TABLE IF EXISTS `tblmeetings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblmeetings` (
  `meetingId` int(11) NOT NULL AUTO_INCREMENT,
  `teacherId` int(11) NOT NULL,
  `courseId` int(11) NOT NULL,
  `academicYearId` int(11) NOT NULL,
  `meetingTitle` varchar(255) NOT NULL,
  `meetingDescription` text DEFAULT NULL,
  `meetingRoomId` varchar(100) NOT NULL,
  `meetingDate` date DEFAULT NULL,
  `meetingTime` time DEFAULT NULL,
  `meetingType` enum('scheduled','instant') DEFAULT 'scheduled',
  `meetingStatus` enum('upcoming','live','ended') DEFAULT 'upcoming',
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`meetingId`),
  KEY `teacherId` (`teacherId`),
  KEY `courseId` (`courseId`),
  KEY `meetingRoomId` (`meetingRoomId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblmeetings`
--

LOCK TABLES `tblmeetings` WRITE;
/*!40000 ALTER TABLE `tblmeetings` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblmeetings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblmodule`
--

DROP TABLE IF EXISTS `tblmodule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblmodule` (
  `moduleId` int(11) NOT NULL AUTO_INCREMENT,
  `specialCourseId` int(11) NOT NULL,
  `moduleName` varchar(100) NOT NULL,
  `moduleDescription` text DEFAULT NULL,
  `moduleFile` varchar(255) DEFAULT NULL,
  `createdAt` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`moduleId`),
  KEY `courseId` (`specialCourseId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblmodule`
--

LOCK TABLES `tblmodule` WRITE;
/*!40000 ALTER TABLE `tblmodule` DISABLE KEYS */;
INSERT INTO `tblmodule` VALUES (1,1,'Introduction to Python','Overview of Python, installation, and setup.',NULL,'2025-09-27 17:01:20'),(2,1,'Variables and Data Types','Numbers, strings, lists, tuples, dictionaries.',NULL,'2025-09-27 17:03:17'),(3,1,'Operators and Expressions','Arithmetic, comparison, logical operators.',NULL,'2025-09-27 17:03:42');
/*!40000 ALTER TABLE `tblmodule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblnotice`
--

DROP TABLE IF EXISTS `tblnotice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblnotice` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `studentId` int(10) NOT NULL,
  `courseId` int(10) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `cutOffAttendence` int(10) NOT NULL,
  `sessionId` int(10) NOT NULL,
  `noticeDate` date NOT NULL,
  `notice` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblnotice`
--

LOCK TABLES `tblnotice` WRITE;
/*!40000 ALTER TABLE `tblnotice` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblnotice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblresult`
--

DROP TABLE IF EXISTS `tblresult`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblresult` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `testId` int(10) NOT NULL,
  `studentId` int(10) NOT NULL,
  `courseId` int(10) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `subjectId` int(10) NOT NULL,
  `marksObtained` int(10) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblresult`
--

LOCK TABLES `tblresult` WRITE;
/*!40000 ALTER TABLE `tblresult` DISABLE KEYS */;
INSERT INTO `tblresult` VALUES (103,1,1,3,1,1,30,'::1','2025-10-01 08:39:41','::1','2025-10-01 08:39:41'),(104,1,6,3,1,1,2,'::1','2025-10-01 08:39:41','::1','2025-10-01 08:39:41'),(105,1,1,3,1,1,30,'::1','2025-10-01 08:40:14','::1','2025-10-01 08:40:14'),(106,1,6,3,1,1,2,'::1','2025-10-01 08:40:14','::1','2025-10-01 08:40:14'),(107,1,1,3,1,2,32,'::1','2025-11-07 09:59:00','::1','2025-11-07 09:59:00'),(108,1,6,3,1,2,31,'::1','2025-11-07 09:59:00','::1','2025-11-07 09:59:00');
/*!40000 ALTER TABLE `tblresult` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblsession`
--

DROP TABLE IF EXISTS `tblsession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblsession` (
  `sessionId` int(10) NOT NULL AUTO_INCREMENT,
  `sessionName` varchar(15) NOT NULL,
  `addedIpAddress` varchar(100) NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` varchar(100) NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  `status` int(2) NOT NULL,
  PRIMARY KEY (`sessionId`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblsession`
--

LOCK TABLES `tblsession` WRITE;
/*!40000 ALTER TABLE `tblsession` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblsession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblspecialcourse`
--

DROP TABLE IF EXISTS `tblspecialcourse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblspecialcourse` (
  `specialCourseId` int(11) NOT NULL AUTO_INCREMENT,
  `specialCourseName` varchar(255) NOT NULL,
  `courseId` int(10) NOT NULL,
  `specialCourseDescription` text DEFAULT NULL,
  `createdAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`specialCourseId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblspecialcourse`
--

LOCK TABLES `tblspecialcourse` WRITE;
/*!40000 ALTER TABLE `tblspecialcourse` DISABLE KEYS */;
INSERT INTO `tblspecialcourse` VALUES (1,'Python Basics',3,'An introductory course to Python programming covering basics of syntax, data types, and simple projects.','2025-09-28 03:56:54'),(2,'Advance Java',3,'Java technologies for building dynamic, database-driven, and enterprise-level applications.','2025-10-01 23:06:13'),(3,'OOP',3,'Programming paradigm using objects and classes to model real-world entities.','2025-10-01 23:07:11');
/*!40000 ALTER TABLE `tblspecialcourse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblstudent`
--

DROP TABLE IF EXISTS `tblstudent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblstudent` (
  `studentId` int(100) NOT NULL AUTO_INCREMENT,
  `studentName` varchar(100) NOT NULL,
  `dob` date NOT NULL,
  `courseId` int(100) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `sessionId` int(100) NOT NULL,
  `studentNumber` varchar(15) NOT NULL,
  `studentGender` int(100) NOT NULL,
  `studentEmail` varchar(100) NOT NULL,
  `studentPassword` varchar(100) NOT NULL,
  `fatherName` varchar(100) NOT NULL,
  `motherName` varchar(100) NOT NULL,
  `parentNumber` varchar(15) NOT NULL,
  `parentEmail` varchar(100) NOT NULL,
  `dateOfRegistration` datetime(6) NOT NULL,
  `address` varchar(100) NOT NULL,
  `studentImage` varchar(300) DEFAULT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime(6) NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`studentId`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblstudent`
--

LOCK TABLES `tblstudent` WRITE;
/*!40000 ALTER TABLE `tblstudent` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblstudent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblstudentcourseprogress`
--

DROP TABLE IF EXISTS `tblstudentcourseprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblstudentcourseprogress` (
  `progressId` int(11) NOT NULL AUTO_INCREMENT,
  `studentId` int(11) NOT NULL,
  `courseId` int(11) NOT NULL,
  `progressPercentage` decimal(5,2) NOT NULL,
  `lastAccessed` datetime NOT NULL,
  PRIMARY KEY (`progressId`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblstudentcourseprogress`
--

LOCK TABLES `tblstudentcourseprogress` WRITE;
/*!40000 ALTER TABLE `tblstudentcourseprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblstudentcourseprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblsubject`
--

DROP TABLE IF EXISTS `tblsubject`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblsubject` (
  `subjectId` int(10) NOT NULL AUTO_INCREMENT,
  `subjectName` text NOT NULL,
  `courseId` int(10) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `sessionId` int(10) NOT NULL,
  `status` int(1) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`subjectId`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblsubject`
--

LOCK TABLES `tblsubject` WRITE;
/*!40000 ALTER TABLE `tblsubject` DISABLE KEYS */;
/*!40000 ALTER TABLE `tblsubject` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tblteacher`
--

DROP TABLE IF EXISTS `tblteacher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tblteacher` (
  `teacherId` int(10) NOT NULL AUTO_INCREMENT,
  `teacherName` varchar(150) NOT NULL,
  `teacherEmail` varchar(150) NOT NULL,
  `teacherPhone` varchar(15) NOT NULL,
  `teacherGender` int(1) NOT NULL,
  `teacherPassword` varchar(100) NOT NULL,
  `subjectId` int(10) NOT NULL,
  `joiningDate` date NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`teacherId`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tblteacher`
--

LOCK TABLES `tblteacher` WRITE;
/*!40000 ALTER TABLE `tblteacher` DISABLE KEYS */;
INSERT INTO `tblteacher` VALUES (4,'himanshu','himanshu@gmail.com','6375324604',1,'1123',1,'2025-09-26','182.68.187.223','2025-09-26 00:13:55','182.68.187.223','2025-09-26 00:13:55'),(5,'shubhra','shubhra@gmail.com','9786567465',2,'1321',5,'2025-09-26','182.68.187.223','2025-09-26 00:17:50','182.68.187.223','2025-09-26 00:17:50'),(6,'teju','teju@gmail.com','9327950361',1,'12324',6,'2025-09-28','103.54.14.83','2025-09-28 00:04:32','103.54.14.83','2025-09-28 00:04:32');
/*!40000 ALTER TABLE `tblteacher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbltest`
--

DROP TABLE IF EXISTS `tbltest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbltest` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `testId` int(10) NOT NULL,
  `maximumMarks` int(10) NOT NULL,
  `courseId` int(10) NOT NULL,
  `academicYearId` int(10) NOT NULL,
  `subjectId` int(10) NOT NULL,
  `dateOfTest` date NOT NULL,
  `sessionId` int(10) NOT NULL,
  `testStatus` int(2) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbltest`
--

LOCK TABLES `tbltest` WRITE;
/*!40000 ALTER TABLE `tbltest` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbltest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbltestdetail`
--

DROP TABLE IF EXISTS `tbltestdetail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tbltestdetail` (
  `testId` int(10) NOT NULL AUTO_INCREMENT,
  `testName` text NOT NULL,
  `maximumMarks` int(10) NOT NULL,
  `addedIpAddress` text NOT NULL,
  `addedDateTime` datetime NOT NULL,
  `updatedIpAddress` text NOT NULL,
  `updatedDateTime` datetime NOT NULL,
  PRIMARY KEY (`testId`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbltestdetail`
--

LOCK TABLES `tbltestdetail` WRITE;
/*!40000 ALTER TABLE `tbltestdetail` DISABLE KEYS */;
INSERT INTO `tbltestdetail` VALUES (1,'MTT 1',40,'::1','2025-09-30 11:27:12','::1','2025-09-30 11:27:12');
/*!40000 ALTER TABLE `tbltestdetail` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-17  2:33:53
